<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create User</title>
  </head>
  <body>
    <h2>Create User</h2>
    <form action="/" method="POST">
      <label for="first_name">First Name</label>
      <input
        type="text"
        id="first_name"
        name="first_name"
        placeholder="Enter a first name"
      />
      <label for="last_name">Last Name</label>
      <input
        type="text"
        id="last_name"
        name="last_name"
        placeholder="Enter a last name"
      />
      <label for="image">Image URL</label>
      <input
        type="text"
        id="image"
        name="image"
        placeholder="Provide a image of this user"
      />
      <button>Add</button>
    </form>
  </body>
</html>
